/*
RESET
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
COMMON
*/
body {
  background-color: lightgreen;
}

.container {
  width: 800px;
  background-color: pink;
  margin: 50px auto;
  border-radius: 10px;
  text-align: center;
}

/*
UTILITY
*/
.container h1 {
  text-transform: uppercase;
  color: red;
  font-size: 50px;
}

.container .container-list {
  list-style-type: none;
  color: blue;
  padding: 30px 30px;
  font-family: 'Courier New', Courier, monospace;
}

.container-list li {
  margin-bottom: 10px;
  font-size: 20px;
}
